# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Logs and temporary files
*.log
debug.log

# Database-related
*.sqlite3
*.db

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
