# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore environment files
.env
venv/
.venv/

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore Streamlit cache and config
.streamlit/
.db

# Ignore database files
*.sqlite3
*.db
*.sql

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore Git-specific files
.git/
